
@using MeuCarroApp.Shared.Components.Accounts.Records

@inject NavigationManager Navigation

<div class="border rounded-3 shadow" style="padding: 20px">

    <h3>Sign up</h3>

    <EditForm Model="RecoveryInput" OnSubmit="OnSignUpSubmit">
        <DataAnnotationsValidator />
        <ValidationSummary />
        <div class="mb-3">
            <label class="form-label">E-mail</label>
            <InputText @bind-Value="RecoveryInput!.Email" class="form-control" />
        </div>
        <div class="mb-3">
            <button type="submit" class="btn btn-primary">Confirm</button>
        </div>

    </EditForm>

</div>


@code {
    
    private RecoveryAccountInput? RecoveryInput { get; set; } = new();

    protected override void OnInitialized()
    {
        base.OnInitialized();
    }

    protected void OnSignUpSubmit()
    {
        Navigation.NavigateTo("dash");
    }
}
