
@using OficinaApp.Components.Forms

<h3>CustomerCreate</h3>


<section class="container-fluid">
    <header class="row">
        <article class="col-6">
            <h3>Adicionar Cliente</h3>
        </article>
        <aside class="col-6"></aside>
    </header>
    <CustomerCreateForm></CustomerCreateForm>
</section>

@code {

}
