@page "/dash"

<h3>Dashboard</h3>

<article class="container-fluid">
    <section class="row">
        <article class="col-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Customer Manager</h5>
                    <h6 class="card-subtitle"></h6>
                    <p class="card-text"></p>
                </div>
                <footer class="card-footer">
                    <a href="customers" class="btn btn-primary">Customers</a>
                </footer>
            </div>
        </article>
        <article class="col-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Agenda Organization</h5>
                    <h6 class="card-subtitle"></h6>
                    <p class="card-text"></p>
                </div>
                <footer class="card-footer">
                    <a href="agendas" class="btn btn-primary">Agendas</a>
                </footer>
            </div>
        </article>
        <article class="col-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Work Load</h5>
                    <h6 class="card-subtitle"></h6>
                    <p class="card-text"></p>
                </div>
                <footer class="card-footer">
                    <a href="orders" class="btn btn-primary">Work Orders</a>
                </footer>
            </div>
        </article>
    </section>
    <section class="row">
        <article class="col-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Stock Manager</h5>
                    <h6 class="card-subtitle"></h6>
                    <p class="card-text"></p>
                </div>
                <footer class="card-footer">
                    <a href="purchases" class="btn btn-primary">Purchases</a>
                </footer>
            </div>
        </article>
        <article class="col-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Purchases</h5>
                    <h6 class="card-subtitle"></h6>
                    <p class="card-text"></p>
                </div>
                <footer class="card-footer">
                    <a href="" class="btn btn-primary"></a>
                </footer>
            </div>
        </article>
        <article class="col-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">WorkShops</h5>
                    <h6 class="card-subtitle"></h6>
                    <p class="card-text"></p>
                </div>
            </div>
        </article>
    </section>
</article>


@code {

}
