@page "/subscribe"

@using OficinaApp.Components.Forms

<section class="row">
    <header class="col-12">
        <h5 class="display-5">Transforme Sua Oficina</h5>
        <p class="lead">Eficiência e organização ao alcance de suas mãos</p>
    </header>
    <article class="col-12">
        <section class="row">
            <article class="col-6">
                <section class="row">
                    <article class="col-6" style="padding: 5px">
                        <div class="card shadow">
                            <div class="card-body">
                                <h5 class="card-title">Fluxo de Veículos</h5>
                                <h6 class="card-subtitle"></h6>
                                <p class="card-text"></p>
                            </div>
                            <footer class="card-footer"></footer>
                        </div>
                    </article>
                    <article class="col-6" style="padding: 5px">
                        <div class="card shadow">
                            <div class="card-body">
                                <h5 class="card-title">Agendamentos</h5>
                                <h6 class="card-subtitle"></h6>
                                <p class="card-text"></p>
                            </div>
                            <footer class="card-footer"></footer>
                        </div>
                    </article>
                    <article class="col-6" style="padding: 5px">
                        <div class="card shadow">
                            <div class="card-body">
                                <h5 class="card-title">Acompanhamento em Tempo Real</h5>
                                <h6 class="card-subtitle"></h6>
                                <p class="card-text"></p>
                            </div>
                            <footer class="card-footer"></footer>
                        </div>
                    </article>
                    <article class="col-6" style="padding: 5px">
                        <div class="card shadow">
                            <div class="card-body">
                                <h5 class="card-title">E muito mais</h5>
                                <h6 class="card-subtitle"></h6>
                                <p class="card-text"></p>
                            </div>
                            <footer class="card-footer"></footer>
                        </div>
                    </article>
                </section>
            </article>
            <aside class="col-6">
                <SignUpForm />
            </aside>
        </section>
    </article>
</section>



<section class="row">
    <!--
            Formulário de Cadastro
    Campos de Entrada:

    Nome Completo: <input type="text" placeholder="Seu Nome Completo"/>

    E-mail: <input type="email" placeholder="Seu E-mail"/>

    Telefone: <input type="tel" placeholder="Seu Telefone"/>

    Nome da Oficina: <input type="text" placeholder="Nome da Sua Oficina"/>

    Senha: <input type="password" placeholder="Crie uma Senha"/>

    Botão de Cadastro:

    Texto: "Cadastrar Agora"

    Elemento Visual: Botão destacado com cor chamativa (ex.: verde ou azul).
    -->
</section>

<section class="row">
    <!--
        Testemunhos de Outros Mecânicos
    Testemunho 1:

    Imagem: Foto de um mecânico sorridente.

    Texto: "Esse aplicativo transformou minha oficina. Agora, meus clientes estão mais satisfeitos e organizados!" - João, Mecânico

    Testemunho 2:

    Imagem: Foto de um mecânico com um tablet.

    Texto: "Aumentei minhas vendas e reduzi o tempo gasto com papelada. Simplesmente incrível!" - Maria, Proprietária de Oficina
    -->
</section>

<section class="row">
    <!--
    Seção de Segurança e Suporte
    Ícones: Escudo de segurança, ícone de suporte 24/7.

    Texto:

    "Segurança Garantida"

    "Suporte 24/7 para te ajudar sempre que precisar"

    "Seus dados protegidos e atendimento de primeira"-->
</section>

<footer class="row">
    <!--
            Rodapé Motivacional
    Texto: "Não espere mais para transformar sua oficina. Cadastre-se agora e veja a diferença!"
    -->
</footer>

@code {

}
