@using OficinaApp.Data.Models

<h3>WorkOrderCreate</h3>

<EditForm Model="order" class="container">
    <section class="row">
        <article class="col-12">
            <EditForm>

            </EditForm>
        </article>
    </section>
</EditForm>

@code {
    private WorkOrder? order { get; set; } = new();

}
