@using MeuCarroApp.Shared.Components.Core.Contexts
@using MeuCarroApp.Shared.Components.Suppliers.Records


@if(supplier != null)
{
    <div class="card">
        <header class="card-header">
            @supplier.Name
        </header>
        <article class="card-body">
            <h5 class="card-title">Title</h5>
            <h6 class="card-subtitle mb-2 text-body-secondary">Sub title</h6>
            <p class="card-text">Content</p>
            <a href="#" class="btn btn-primary">Card link</a>
            <a href="#" class="card-link">Card link</a>
        </article>
        <footer class="card-footer">
        </footer>
    </div>
}
else
{
    <div class="card">
        <header class="card-header"></header>
        <article class="card-body">
            <h5 class="card-title"></h5>
            <h6 class="card-subtitle mb-2 text-body-secondary"></h6>
            <p class="card-text"></p>
            <a href="#" class="btn btn-primary"></a>
            <a href="#" class="card-link"></a>
        </article>
        <footer class="card-footer">
        </footer>
    </div>
}


@code {
    public int SupplierId { get; set; }
    public SupplierOutput? supplier { get; set; }

    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();

        //supplier = _context.
        
    }

    protected override void OnParametersSet()
    {
        base.OnParametersSet();
        
        //supplier =  
    }

}
