@page "/dash"

@using MeuCarroApp.Shared.Components.Accounts.Services
@using MeuCarroApp.Shared.Components.Accounts.Records

@inject AuthenticationService AuthService
@inject NavigationManager Navigate

<header class="row">
    <article class="col-4">
        <h3>Dashboard</h3>
    </article>
    <nav class="col-6"></nav>
    <aside class="col-2">
        <button type="button" class="btn btn-secondary">@UserLogged.Username</button>
        <button type="button" @onclick="OnLogoutClick" class="btn btn-danger">Logout</button>
    </aside>
</header> 

<section class="row">
    <div class="col-4" style="margin-bottom: 10px;">
        <div class="card">
            <div class="card-body">
                <header class="row">
                    <article class="col-6">
                        <h5 class="card-title">Meus Veículos</h5>
                    </article>
                    <nav class="col-3">
                        <a href="/vehicles/create">Add</a>
                    </nav>
                </header>
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">An item</li>
                <li class="list-group-item">A second item</li>
                <li class="list-group-item">A third item</li>
            </ul>
        </div>
    </div>
    <div class="col-4" style="margin-bottom: 10px;">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Abastecimentos</h5>
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">An item</li>
                <li class="list-group-item">A second item</li>
                <li class="list-group-item">A third item</li>
            </ul>
        </div>
    </div>
    <div class="col-4" style="margin-bottom: 10px;">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Revisões</h5>
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">An item</li>
                <li class="list-group-item">A second item</li>
                <li class="list-group-item">A third item</li>
            </ul>
        </div>
    </div>
    <div class="col-4" style="margin-bottom: 10px;">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Manutenções Corretivas</h5>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">An item</li>
                    <li class="list-group-item">A second item</li>
                    <li class="list-group-item">A third item</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="col-4" style="margin-bottom: 10px;">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Rastreamentos</h5>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">An item</li>
                    <li class="list-group-item">A second item</li>
                    <li class="list-group-item">A third item</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="col-4" style="margin-bottom: 10px;">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Oficinas</h5>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">An item</li>
                    <li class="list-group-item">A second item</li>
                    <li class="list-group-item">A third item</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="col-4" style="margin-bottom: 10px;">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Auto Peças</h5>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">An item</li>
                    <li class="list-group-item">A second item</li>
                    <li class="list-group-item">A third item</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="col-4" style="margin-bottom: 10px;">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Viagens</h5>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">An item</li>
                    <li class="list-group-item">A second item</li>
                    <li class="list-group-item">A third item</li>
                </ul>
            </div>
        </div>
    </div>
</section>

@code {
    [Parameter]
    public LoginOutput UserLogged { get; set; } = null!;

    protected override void OnInitialized()
    {
        base.OnInitialized();
        if (!AuthService.IsAuthenticated())
        {
            Navigate.NavigateTo("");
        }
        UserLogged = AuthService.currentUser!;
    }

    public void OnLogoutClick()
    {
        AuthService.Logout();
        Navigate.NavigateTo("");
    }
}
